body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 120px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    position: fixed;   /* Fixa o header na janela do navegador */ 
    top: 0;            /* Posiciona na parte superior */
    left: 0;           /* Posiciona na lateral esquerda */
    width: 100%;
    max-width: -webkit-fill-available;
}

.menu-hamburger, .sidebar {
    display: none; /* Por padrão, o ícone do hambúrguer e a barra lateral estão ocultos */
}

.logo, .instagramLogo img {

    height: 80px;     /* Defina a altura desejada. Pode ser menor que a altura do header para dar um espaçamento */
}


.menu {
    display: flex;
    gap: 20px;
    opacity: 1;
}

/* Quando a tela estiver com 600px ou menos de largura, o menu terá 50% de opacidade */
@media (max-width: 600px) {
    #headerNossaEquipe{
        display:none;
    }
}

/* Quando a tela estiver com 400px ou menos de largura, o menu terá 25% de opacidade */
@media (max-width: 500px) {
    #headerTratamentos{
        display: none;
    }
}

/* Quando a tela estiver com 300px ou menos de largura, o menu será completamente invisível */
@media (max-width: 300px) {
    #headerheaderContato{
        display: none;
    }
}

.instagramLogo {
    display: flex;
    align-items: center;
    width: -20px;

}

